/**
 * Grid layout for individual rows
 **/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "RowHeader RowContent RowContent";
}

@media (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "RowHeader" "RowContent";
    }
}

.header {
    grid-area: RowHeader;
}

.content {
    grid-area: RowContent;
}
